.bigHeader{
  background: var(--primary_mid_light);
  background: linear-gradient(
    -10deg,
    var(--primary) 0%,
    var(--pastel_dark) 100%
  );
  margin-bottom: 4rem;
}

.logoText {
  text-align: center;
  font-size: 4vw;
  line-height: 4vw;
  margin: 0;
  padding: 2rem;
}

.logoImage {
  padding-top: 2rem;
  text-align: center;
}
